<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
    <title>About Gustavo Banegas</title>
  </head>

  <body>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h2>About Gustavo Banegas</h2>
        </div>

          <h3>Little things about me....</h3>
      <p> My name is Gustavo Banegas. I'm a master's student from UFSC. My speciality is public key infrastructure workin in LabSEC like a project manager. But my master's thesis is in applied cryptography.  </p>
      <p> Thinks that I like is a embbeded systems and cryptography. </p>

      <img style="vertical-align:middle;" src="${tg.url('/img/eu.png')}" alt="Gustavo Souza Banegas" />

      </div>
    </div>
  </body>
</html>
