<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

	<xi:include href="master.html" />

	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
		<title>Add new page</title>
	</head>

	<body>
		<div class="main_content">
			<div>
				<form action="/save_new" method="post">
					
					<p>Title: <textarea name="title" py:content="wikipage.title" rows="1" cols="50"/></p>
					<textarea name="data" py:content="wikipage.data" rows="10" cols="60"/> <br/>
					<br/>
					<p> Tags: <textarea name="tags" py:content="wikipage.tags" rows="1" cols="50"/></p>
					<input type="hidden" name="pagename" value="${wikipage.title}"/>
						<input type="submit" name="submit" value="Save"/>
					</form>
				</div>
			</div>
		</body>
	</html>
