<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
    <title>About Gustavo Banegas</title>
  </head>

  <body>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h2>About Gustavo Banegas</h2>
        </div>
        <div class="col-md-12">
          <h3>About Me</h3>
          <div class="jumbotron">
  
	  <div class="span4">
               <p> <img style="vertical-align:left;"  height="300" width="300" src="${tg.url('/img/eu.png')}" alt="Gustavo Souza Banegas" />
	      My name is Gustavo Banegas.</p> <p> In 2012, I finished my diplom in computer science at UFSC(Federal Univesity of Santa Catarina) under the supervision of Ricardo Custódio.</p>
              <p>I'm a master student from UFSC and I work in <a href="http://www.labsec.ufsc.br/en/">LabSEC</a>(Computer Security Laboratory) like project manager and developer. We develop applications for public key infrastructure(PKI) in <code> Java </code> and <code> C++ </code>. </p>
              <p>I'm developing my master thesis in applied cryptography(Polynomials and Finite Fields) with the surpervision of Prof. Ricardo Custódio and Prof.<a href="http://people.math.carleton.ca/~daniel/research/students.html"> Daniel Panário </a>.</p>
	      <p> Contact: gustavosouzabanegas (at) gmail (dot) com </p>
	      <p> <a href="https://github.com/gbanegas"> github/gbanegas </a></p>
	      <p> <a href="https://ufsc.academia.edu/GustavoSouzaBanegas"> academia.edu/GustavoSouzaBanegas </a></p>
	      <p> My professional interest: </p>
              <ul>
                <li> Cryptography </li>
                <li> Embedded Systems </li>
                <li> Real-time computing </li>
                <li> Project Management </li>
                <li> Program Languages (Java, C++, Python and Ruby) </li>
                <li> Web Development </li>
                <li> Mobile Development(Android, iOS and Windows Phone) </li>
              </ul>

              <p> My personal interest: </p>
              <ul>
                <li> Rugby </li>
                <li> Violin </li>
                <li> Chess </li>
                <li> Cooking </li>
              </ul>
              <p> The blog was made using the <code>TurboGears</code> and <code> Python</code>. For more about how to create visite the TurboGears Page</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54932544-1', 'auto');
  ga('send', 'pageview');

</script>  

</body>
</html>
