
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
    <title>About Gustavo Banegas</title>
  </head>

  <body>
      <div id="content">
              <h1> My name is Gustavo Banegas. </h1>
              <p> In 2012, I finished my diplom in computer science at UFSC(Federal Univesity of Santa Catarina) under the supervision of Ricardo Custódio.</p>
              <p>I'm a master student from UFSC and I work in <a href="http://www.labsec.ufsc.br/en/">LabSEC</a>(Computer Security Laboratory) like project manager and developer. We develop applications for public key infrastructure(PKI) in <code> Java </code> and <code> C++ </code>. </p>
              <p>I'm developing my master thesis in applied cryptography(Polynomials and Finite Fields) with orientation of Ricardo Custódio and <a href="http://people.math.carleton.ca/~daniel/research/students.html"> Daniel Panário </a>.</p>
              <p> I have interest in: </p>
              <ul>
                <li> Cryptography </li>
                <li> Embedded Systems </li>
                <li> Project Management </li>
                <li> Program Languages (Java, C++, Python and Ruby) </li>
                <li> Web Development </li>
                <li> Mobile Development </li>
              </ul>
              <p> My Github <a href="https://github.com/gbanegas"> github.com/gbanegas</a></p>
              <p> I have personal interest in: </p>
              <ul>
                <li> Rugby </li>
                <li> Violin </li>
                <li> Chess </li>
                <li> Cooking </li>
              </ul>
             
    </div>
  </body>
</html>
