<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

  <head>
    <title>My CV</title>
  </head>

  <body>
    <div id="content">
    	<h1>My CV</h1>
          <h2>Education</h2>
              <p>2012--2015 - Master in Computer Science</p>
              <p>University: UFSC - Federal University of Santa Catarina - Florianópolis, Brazil</p>
              <p>2007--2012 - Bachelor in Computer Science</p>
              <p>University: UFSC - Federal University of Santa Catarina - Florianópolis, Brazil</p>

      	  <h2>Experience</h2>
       	 	<b><p>2014--Present - System Analyst </p></b>
	        <p>Place: BRy Tecnology -  Florianópolis, Brazil</p>
	        <p>2009--Present - Researcher/Project Manager/Developer</p>
	        <p>Place: LabSEC - Laboratory for Computer Security - Florianópolis, Brazil</p>
	        <p>2008--2009 - Intern</p>
	        <p>Place: Pixeon Medical Systems - Florianópolis, Brazil</p>


          <h2>Miscellaneous</h2>
              <p>2014--2014- Global Internship Program AIESEC</p>
              <p>Place: Budapest, Hungary</p>
              <p>Activity: Volunteer work in the Global Internship Program with AIESEC, living two months in a cultural immersion.</p>

          <h2>Languages</h2>
	  <ul>
		<li>Portuguese : Mothertongue</li>
                <li>English : Advanced</li>
                <li>Spanish : Intermediate</li>
                <li>French : Basic</li>
                <li>Italian : Basic</li>
         </ul>


          <h2>Computer Skills</h2>

              <ul>
                <li>Basic : Perl, Ruby</li>
                 <li>Intermediate : Python, Shell script</li>
                 <li>Advanced : Java, C, C++</li>
              </ul>
              <p> My Github <a href="https://github.com/gbanegas"> github.com/gbanegas</a></p>


   	<h2>Conferences</h2>

          <ul>
                <li> LatinCrypt 2014 : Florianópolis, Brazil </li>
                <li> 31 CCC : Hamburg, Germnay </li>
          </ul>

          <h2>Extras/Abilities</h2>

              <ul>
                 <li>Knowledge of Object Orientation.</li>
                 <li>Knowledge of SQL, PostgreSQL and MySQL, using both 3 years ago for application development.</li>
                 <li>Knowledge in Qt Framework.</li>
                 <li>Knowledge in SSL applications using secure environments.</li>
                 <li>Knowledge of Agile Development and Management.</li>
                 <li>Knowledge of Embedded Development.</li>
                 <li>Knowledge of Development for Linux and Windows.</li>
                 <li> Penetration Tests. </li>
             </ul>
     </div>
</body>
</html>
