<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="${response.charset}" />
  <title py:if="False">CrSith</title>
  <meta py:replace="select('*')"/>
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/bootstrap.min.css')}" /> -->
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/stylen.css')}" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <script type="text/javascript" src="${tg.url('javascript/modernizr-1.5.min.js')}"></script>
<!-- <link rel="stylesheet" type="text/css" media="all" href="${tg.url('/css/default.css')}"/>
<link  rel="stylesheet" type="text/css" media="all" href="${tg.url('/css/fonts.css')}"/>-->
</head>

<body py:match="body" py:attrs="select('@*')">
  <!-- Navbar -->
 <div id="top_container">
    <header>
        <div id="logo"><h1><a class="navbar-brand" href="${tg.url('/')}">
        <img src="${tg.url('/img/symbol_logo.png')}" height="40" alt="simbol_site"/>
        ${getattr(tmpl_context, 'project_name', 'turbogears2')}
        </a></h1>
        </div>
        <nav>
        <ul class="lavaLampWithImage" id="lava_menu">
       <li class="${('', 'active')[value_of('page') == 'index']}"><a href="${tg.url('/')}">Index</a></li>
        <li class="${('', 'active')[value_of('page') == 'data']}"><a href="${tg.url('/cv')}">My CV</a></li>
        <li class="${('', 'active')[value_of('page') == 'data']}"><a href="${tg.url('/data')}">Publications</a></li>
        <li class="${('', 'active')[value_of('page') == 'about']}"><a href="${tg.url('/blog')}">Blog</a></li>
        <li class="${('', 'active')[value_of('page') == 'data']}"><a href="${tg.url('/pagelist')}">Page List</a></li>
        <li py:if="not request.identity"><a href="${tg.url('/login')}">Login</a></li>
        <li py:if="request.identity"><a href="${tg.url('/logout_handler')}">Logout</a></li>
        <li py:if="request.identity"><a href="${tg.url('/admin')}">Admin</a></li>
      </ul>

        </nav>
      </header>
      <div class="slideshow">
        <ul class="slideshow">
          <li class="show"><img width="950" height="350" src="${tg.url('/img/math.jpg')}" /></li>
        </ul>
    </div>    
    </div>   


<div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <h3>About Me</h3>
          <img  width="200" height="200" src="${tg.url('/img/eu.png')}" alt="Gustavo Souza Banegas" />
        </div>
        <div class="sidebar">
          <p> My name is Gustavo Banegas.</p>
              <p> In 2012, I finished my diplom in computer science at UFSC(Federal Univesity of Santa Catarina) under the supervision of Ricardo Custódio.</p>
              <p>I'm a master student from UFSC and I work in <a href="http://www.labsec.ufsc.br/en/">LabSEC</a>(Computer Security Laboratory). </p>
        </div>
      </div>

  

  <div class="container">
    <!-- Flash messages -->
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div py:if="flash" py:replace="Markup(flash)" />
        </div>
      </div>
    </py:with>

    <!-- Main included content -->
    <div py:replace="select('*|text()')"/>
  </div>

</div>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="${tg.url('/javascript/bootstrap.min.js')}"></script>
</body>
</html>
