<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>Publications of Gustavo Banegas</title>
</head>

<body>
  <div class="row">
    <div class="col-md-6">
	    <h2>Publications</h2>
	    <h3> Thesis </h3>
	    <p> Gradutation: Framework LibPKI, a framework for PKI(Portuguese Version)(<a href="data/Principal_FrameworkLibPKI_corrigido.pdf">Link</a>)</p>
	    <h3> Papers </h3>
      	    <p> An Efficient Keystream for Cryptographic Applications (<a href="http://www.ijcaonline.org/archives/volume109/number2/19157-0610">Link</a>)</p>
	    <h3> Technical Reports and Preprints </h3>
	    <p>Eprint IACR. Attacks in Stream Ciphers: A Survey, Gustavo Banegas (<a href="http://eprint.iacr.org/2014/677">Link</a>)</p>
    </div>
  </div>
</body>
</html>
